body {
    margin: 0;
}

.he-bg {
    /* background: white; */
    background: white url(./health_bg.jpeg) no-repeat;
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    position: relative;
}

.he-bg p {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.he-bg p span {
    display: inline-block;
}

p.he-code-status {
    top: 2px;
}

p.he-code-status span {
    color: white;
    background-color: rgb(84, 123, 236);
    padding: 0 10px;
}

p.he-code-day {
    top: 105px;
    color: #666;
    font-size: 16px;
}

p.he-code-day span {
    margin-left: 9px;
    background-color: white;
    color: rgb(106, 106, 106);
}

p.he-code-time {
    top: 126px;
    font-size: 16px;
}

p.he-code-time span {
    margin-left: 10px;
    padding: 0 4px;
    background-color: white;
    color: rgb(106, 106, 106);
}

p.he-head {
    top: 171px;
}

p.he-head img {
    border-radius: 8px;
    background-color: azure;
}

p.he-code-light {
    top: 151px;
    width: 100%;
}

.he-code-light span {
    width: 190px;
    height: 190px;
    border: 20px solid white;
}

p.he-code-tip {
    color: rgb(122, 191, 85);
    font-size: 18px;
    font-weight: bolder;
    top: 393px;
}

p.he-code-tip span {
    margin-left: 22px;
    background-color: white;
    padding: 8px;
}

p.he-name {
    bottom: 62px;
    top: auto;
}

p.he-id {
    bottom: 28px;
    top: auto;
}

p.he-code-check {
    bottom: -2px;
    top: auto;
}

p.he-id span,
p.he-name span,
p.he-code-check span {
    float: right;
    margin-right: 41px;
    font-size: 16px;
    background: white;
    padding: 0 2px;
    color: rgb(38, 38, 38);
}